body
{
    font-family: 'Indie Flower', cursive; 
    background: yellowgreen;
}

.header_div
{
    background: white;
    color: red;
}

.header_div p{
font-family: 'Indie Flower', cursive;
    color:black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Indie Flower', cursive;
    margin-top: 30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color:rgb(247, 164, 64);
    bottom: 0;
width:100%;
font-size: 18px;
background-color: aliceblue;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px skyblue;
}